@charset "UTF-8";
/*admin*/
body {
	font-family: 'Roboto', sans-serif;
}

.center {
	text-align: center;
}
.container {
	text-align: center;
	padding: 40px;
	margin: 20px;
	display: inline-block;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
	font-size: 24px;
	color: #FDC300;
	margin-bottom: 20px;
	font-weight: bold;
}

.error-msg {
	text-align: center;
	font-size: 16px;
	color: rgb(255, 0, 0);
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-container {
	margin: 0 auto;
	text-align: center;
}

.input-field {
	text-align: center;
	width: 100%;
	padding: 5px;
	margin: 10px 0px;
	border: 2px solid rgb(204, 204, 204);
	border-radius: 6px;
}

.button {
	left: 10%;
	transform: translateX(-30%);
	width: 60px;
	height: 20px;
	background-color: rgb(250, 250, 250);
	font-weight: bold;
	cursor: pointer;
	border-radius: 6px;
}

.cancel-button {
	transform: translateX(40%);
	width: 60px;
	height: 20px;
	background-color: rgb(250, 250, 250);
	font-weight: bold;
	cursor: pointer;
	border-radius: 6px;
}

.button:hover,
.cancel-button:hover {
	border: 2px solid rgb(232, 232, 232);
	background-color: rgb(232, 232, 232);
}

/*user*/
.h1 {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.searchBtn {
	position: relative;
	left: 0%;
	transform: translateX(-50%);
	width: 40px;
	height: 20px;
	background: linear-gradient(125deg, #FFE798, #FDC300, #FFE798);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
	border-radius: 6px;
}

.searchBtn:hover {
	background-position: right;
}

.cancel-searchBtn {
	position: relative;
	left: 15%;
	transform: translateX(-10%);
	width: 40px;
	height: 20px;
	background: linear-gradient(125deg, #FFE798, #FDC300, #FFE798);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
	border-radius: 6px;
}

.cancel-searchBtn:hover {
	background-position: right;
}

.deleteBtn {
	position: relative;
	left: -5%;
	transform: translateX(0%);
	width: 70px;
	height: 20px;
	background: linear-gradient(125deg, #FFE798, #FDC300, #FFE798);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
	border-radius: 6px;
}

.deleteBtn:hover {
	background-position: right;
}

.cancel-deleteBtn {
	position: relative;
	left: 15%;
	transform: translateX(-10%);
	width: 70px;
	height: 20px;
	background: linear-gradient(125deg, #FFE798, #FDC300, #FFE798);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
	border-radius: 6px;
}

.cancel-deleteBtn:hover {
	background-position: right;
}